{% extends "layout.html" %}
{% block body_content %}
    <form action="{{ url_for('sellgame') }}">
        <button type="submit">Sell game</button>
    </form>
    {% if sell %}
        {% for list in sell %}
        <div>
			<p>---------------------------------------------------------</p>
			<h2>{{ list.title }}</h2>
			<p><b> - Username: </b>{{ list.seller }}</p>
			<p><b> - Game: </b><a href="{{ url_for('gameName', name=list.gameMarket.game_name) }}">{{ list.gameMarket.game_name }}</a></p>
            <p> -- {{ list.description }}</p>
            <p> - Price: {{ list.price }}</p>
		</div>
        {% endfor %}
    {% else %}
        <p>There are nothing being sold</p>
    {% endif %}
{% endblock %}